body{
    margin: 0px;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}
h1{
    font-size: 51px;
}
.my-link-batton{
   text-decoration: none; 
   background-image: linear-gradient(45deg, rgb(197, 9, 9),rgb(218, 52, 52));
   color: aliceblue;
   padding: 11px 22px;
   border-radius: 6px;
   font-weight: 800;
}
.my-link-batton:hover{
font-size: 20px;
color:rgb(0, 255, 64);
background-image: linear-gradient(rgb(215, 228, 42),rgb(45, 7, 133));
}
.gold{
    color: goldenrod;
}
.on-banner{

    background-image:url("web\ Untitled\ design.png");
    background-repeat: no-repeat;
    
}
.half-width{
    width: 41%;
    float: left;
    margin-left: 4%;
    padding-left: 3%;
}
section{
    height: 700px;
    padding-bottom: 1px;
}
.half-width img{
    width: 100%;
}
p{
    color: rgb(75, 9, 9);
}
.my-dream-area{
    background-image:url("1bg\ design\ .png");
}
.my-experience-area{
    background-image:url("Untitled\ design.png");
background-repeat: no-repeat;
}
.single-ex{
    box-shadow:10px 10px 50px rgb(58, 24, 24);
    border-radius: 3px;
    height: 80%;
}
#fule-shot{
   border-left: 8px solid ;
   border-image: linear-gradient(180deg,blue, #0407368c);
   border-image-slice: 1;
}
#stook-web{
    border-left: 8px solid;
    border-image: linear-gradient(rgb(20, 20, 1),orange);
    border-image-slice: 1;
}
footer{
    text-align: center;
}